<mat-toolbar class="app-navbar">
  <div class="logo-container">
    <div class="app-icon">
      <mat-icon>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-chef-hat h-6 w-6 text-white"
          aria-hidden="true"
        >
          <path
            d="M17 21a1 1 0 0 0 1-1v-5.35c0-.457.316-.844.727-1.041a4 4 0 0 0-2.134-7.589 5 5 0 0 0-9.186 0 4 4 0 0 0-2.134 7.588c.411.198.727.585.727 1.041V20a1 1 0 0 0 1 1Z"
          ></path>
          <path d="M6 17h12"></path>
        </svg>
      </mat-icon>
    </div>
    <span class="app-title">Recipe Manager</span>
  </div>

  <span class="spacer"></span>

  <button mat-stroked-button class="logout-button" (click)="onLogout()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 -2 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-log-out h-4 w-4 mr-2"
      aria-hidden="true"
    >
      <path d="m16 17 5-5-5-5"></path>
      <path d="M21 12H9"></path>
      <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
    </svg>
    <span>Logout</span>
  </button>
</mat-toolbar>
