section {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .main {
    background: #fff;
    border: 1px solid lightgrey;
    border-radius: 12px;
    max-width: 800px;

    img {
      width: 100%;
      max-height: 800px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .title-btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 24px;

      div {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
    }

    .cuisine {
      margin: 0 0 12px 0;
      padding: 0px 24px;
    }

    .tags {
      display: flex;
      flex-direction: row;
      gap: 8px;
      padding: 0px 24px;

      div {
        padding: 4px;
        border: 1px solid grey;
        border-radius: 12px;
      }

      .difficulty-easy {
        background: lightgreen;
        color: green;
        text-align: center;
      }

      .difficulty-medium {
        background: lemonchiffon;
        color: orange;
        text-align: center;
      }

      .difficulty-hard {
        background: lightsalmon;
        color: red;
        text-align: center;
      }
    }

    .another-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 24px;

      .prep,
      .cook,
      .servings,
      .calories {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        p {
          margin: 0;
        }
      }
    }
  }

  .blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    max-width: 800px;

    div {
      padding: 24px;
      border: 1px solid grey;
      border-radius: 12px;
    }
  }
}
