section{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .main{
        
        .title-btns{
            
        }
        
        .cuisine{
            
        }
        
        .another-info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .blocks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

