section{
margin-top: 64px;
}

.custom-input {
  border: none;
  outline: none;
  background: transparent;
  border-radius: 12px;
  width: 100%;
  padding: 0 8px;
  margin: 0;
  line-height: 1.5; 
  font-size: 16px;
}

.filter-card {
  margin: 24px auto 24px;
  width: 100%;
  max-width: 1200px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
}

.filter-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filters-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  align-items: center; 
}

::ng-deep.mat-mdc-text-field-wrapper{
    border-radius: 12px !important;
}

::ng-deep.mat-mdc-form-field-subscript-wrapper{
    display: none;
}

mat-cell{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

td, mat-cell{
    min-height: 70px;
}
 
td > img {
    width: 64px;
    height: 64px;
}

button[mat-icon-button]{
    background: transparent;
    border: none;
}

.difficulty-easy{
    div{
        padding: 4px;
        background: lightgreen;
        color: green;
        text-align: center;
        border-radius: 12px;
    }

}

.difficulty-medium{
    div{
        padding: 4px;
        background: lemonchiffon;
        color: orange;
        text-align: center;
        border-radius: 12px;
    }

}