<section>
  <app-recipes-navbar></app-recipes-navbar>
  @if (!outlet.isActivated) {
  <div class="recipes-header">
    <h2>Recipes</h2>
    <p class="subtitle">Browse and manage your recipe collection</p>
  </div>

  <mat-card class="filter-card">
    <mat-card-content class="filter-content">
      <mat-form-field appearance="fill" class="search-field">
        <input
          matInput
          class="custom-input"
          type="text"
          placeholder="Search recipes by name"
          aria-label="Search recipes"
          [formControl]="searchControl"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="select-field">
        <mat-select disableRipple [formControl]="tagControl">
          <mat-option [value]="'All'">All</mat-option>
          @for (recipeTag of recipesTags; track recipeTag) {
          <mat-option [value]="recipeTag">{{ recipeTag }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <p class="status-text">
    Showing
    {{ pageSizeSignal() >= totalItems() ? totalItems() : pageSizeSignal() }} of
    {{ totalItems() }} recipes
  </p>

  <table
    mat-table
    [dataSource]="paginatedData()"
    class="recipes-table"
    aria-label="Recipe List"
  >
    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let row"><img [src]="row.image" /></td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Recipe Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>
    <ng-container matColumnDef="Cuisine">
      <th mat-header-cell *matHeaderCellDef>Cuisine</th>
      <td mat-cell *matCellDef="let row">{{ row.cuisine }}</td>
    </ng-container>
    <ng-container matColumnDef="Difficulty">
      <th mat-header-cell *matHeaderCellDef>Difficulty</th>
      <td
        mat-cell
        *matCellDef="let row"
        [ngClass]="{
          'difficulty-easy': row.difficulty === 'Easy',
          'difficulty-medium': row.difficulty === 'Medium',
          'difficulty-hard': row.difficulty === 'Hard',
        }"
      ><div>
          {{ row.difficulty }}
      </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="Calories">
      <th mat-header-cell *matHeaderCellDef>Calories</th>
      <td mat-cell *matCellDef="let row">{{ row.caloriesPerServing }} kcal</td>
    </ng-container>
    <ng-container matColumnDef="Tags">
      <th mat-header-cell *matHeaderCellDef>Tags</th>
      <td mat-cell *matCellDef="let row">{{ row.tags }}</td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button>
          <a [routerLink]="[row.id]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="blue"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-eye h-4 w-4"
              aria-hidden="true"
            >
              <path
                d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
              ></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          </a>
        </button>
        <button mat-icon-button (click)="openEditDialog(row)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-square-pen h-4 w-4"
            aria-hidden="true"
          >
            <path
              d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
            ></path>
            <path
              d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"
            ></path>
          </svg>
        </button>
        <button mat-icon-button (click)="confirmDeletion(row.id)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="red"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-trash2 lucide-trash-2 h-4 w-4 text-red-500"
            aria-hidden="true"
          >
            <path d="M10 11v6"></path>
            <path d="M14 11v6"></path>
            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"></path>
            <path d="M3 6h18"></path>
            <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
          </svg>
        </button>
      </mat-cell>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="totalItems()"
    [pageSize]="pageSizeSignal()"
    [pageIndex]="pageIndexSignal()"
    [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEvent($event)"
    aria-label="Select page of recipes"
  >
  </mat-paginator>
  }
</section>
<router-outlet #outlet="outlet"></router-outlet>
